<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浮动</title>
  <style>
    .item {
      float:left;
      width:280px;
      height:180px;
      border:1px solid red;
    }
    .outer {
      border:1px solid red;
      width:100px;
      height:300px;
      padding-top: 28px;
      padding-left: 28px;
      padding-right:20px;
      padding:20px;
      padding: 20px 30px 400px 220px;
      margin-top:90px;
    }
  </style>
</head>
<body>
    <div>
      <span>左边</span>
      <span style="float:right">右边</span>
    </div>
    <div style="background-color:dodgerblue">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div style="clear:both">你好呀</div>
    </div>
    <div class="outer">
        <div  style="background-color: gold">听妈妈的话</div>
        <div>你是否有很多的问号</div>
    </div>
</body>
</html>