<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>商品列表</h1>
    <a href="https://www.xiaohongshu.com/explore/67acab3a000000001800fec1?xsec_token=ABrMKt9X6DEwH71kjoX1kLcBjfarKG11T6Ftt5lHY6fdY=&xsec_source=pc_feed" target="_blank">
        <img src="/static/a1.jpg" style="width: 150px"/>
    </a>
    <a href="https://www.xiaohongshu.com/explore/67ab0de2000000002903244f?xsec_token=ABaqy6QkUcGo-c7GkA8GqWq-RueBL7SQ9DP4jWwbQfDiw=&xsec_source=pc_feed" target="_blank">
        <img src="/static/a2.jpg" style="width: 150px"/>
    </a>
    <a href="https://www.xiaohongshu.com/explore/67aaca6f000000002901aa23?xsec_token=ABVlQZyBuyGCTwrtxBr5nWPjl_-1f95Q-8f3pJ7gaRhLU=&xsec_source=pc_feed" target="_blank">
        <img src="/static/a3.jpg" style="width: 150px"/>
    </a>
</body>
</html>