<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <h3>广西联通</h3>
    <div>山东蓝翔</div>
    <div>
        <span style="color:red">时间：2025年2月9日21:27:27</span>
        <span>日期：2025年2月9日</span>
    </div>
    <div>
        群公告
        各位宝贝晚上好❤️，「福来·泰午餐车」开始预下单啦，各位宝贝可以点击链接填写下单📝，
        「每天随机两款菜品特价」，请宝们留意特价专区，感谢各位宝贝的支持🌹
         🏝️福来·泰 - 午餐车
        https://kdocs.cn/l/cnkv1laXQcoY
    </div>
    <span style="color:red">asdfa阿萨德</span>
    <span style="color:green">啊说的话</span>
    <h2>123</h2>
</body>
</html>